Value LocalInterface (\S+)
Value NeighborName (.+)
Value NeighborPort (.+)

Start
  ^\s*Local\s+Interface\s*:\s*${LocalInterface}\s* -> Neigh
  ^.* -> Start

Neigh
  ^\s*System\s+Name\s*:\s*${NeighborName}\s*
  ^\s*Port\s+ID\s*:\s*${NeighborPort}\s* -> Record
  ^\s*$ -> Start
  ^.* -> Neigh
