Value LocalInterface (\S+)
Value NeighborName (.+)
Value NeighborPort (.+)

Start
  ^Local Intf:\s+${LocalInterface} -> Neigh

Neigh
  ^Port id:\s+${NeighborPort} -> Neigh
  ^System Name:\s+${NeighborName} -> Record
  ^System Name\s*-\s*not advertised -> Record
  ^-{3,} -> Start
  ^Local Intf:\s+${LocalInterface} -> Neigh
